body {

    background-color:lightblue;
  }
  p1{
      font-size: 35px;
  }
  p2{
      font-size: 20px;
  }
  h2{
      font-size: 35px;
  }
  p4{
      font-size: 25px;
  }
  p5{
      font-size: 35px;
  }
  p8{
      font-size: 25px;
  }
  p9{ 
      font-size: 35px;
  }
  p12{
      font-size: 25px;
  }
  p13{
      font-size:35px;
  }
  p16{
      font-size: 25px;
  }
  p17{
       font-size: 35px;
  }
  p20{
      font-size: 25px;
  }